[submodule "clients/zbus-php"]
	path = clients/zbus-php
	url = https://github.com/rushmore/zbus-php
[submodule "clients/zbus-javascript"]
	path = clients/zbus-javascript
	url = https://github.com/rushmore/zbus-javascript
[submodule "clients/zbus-java"]
	path = clients/zbus-java
	url = https://github.com/rushmore/zbus-java
[submodule "clients/zbus-dotnet"]
	path = clients/zbus-dotnet
	url = https://github.com/rushmore/zbus-dotnet
[submodule "clients/zbus-python"]
	path = clients/zbus-python
	url = https://github.com/rushmore/zbus-python
[submodule "clients/zbus-cpp"]
	path = clients/zbus-cpp
	url = https://github.com/rushmore/zbus-cpp
